.tabs-wrapper {
  .nav-tabs {
    color: $black;
    text-decoration: none;
    .is-active {
      color: black;
      text-shadow: 2px 1px 13px #fff;
      text-decoration: none;
    }
  }
}

.nav-link,
.media-library-view--widget .view-header a {
  display: block;
  padding: 0.5rem 1rem;
  color: $black;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  text-decoration: none;
}

.view-empty {
  .no_results_behavior {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
  }
  .no_results_behavior_message {
    text-align: center;
    font-size: 26px;
  }
  .no_results_behavior_text {
    text-align: center;
    font-size: 22px;
  }
}

.node__meta {
  display: none;
}

.entities-list.sortable .item-container:hover {
  cursor: move;
  opacity: 1;
}
.field--name-title {
  font-size: 18px;
}
