.country {
  border-top: solid 1px #111;
  border-bottom: solid 1px #111;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 11px;
  text-transform: uppercase;
  font-size: $MainSize +2;
  font-weight: bold;
  color: #111;


  .country-title {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: $MainSize +2;
    font-weight: bold;
    color: #111;
  }
}


.Boutiques-block {
  padding-left: 0;
  padding-right: 0;
  .paragraph--type--boutiques {
    display: flex;
    padding: 26px 0;
  }
  .field {
    width: 25%;
    text-align: start;
    .field__label {
      display: none;
    }
  }
}


.field--name-field-boutique-contact {
  width: 25%;
  text-align: end;
  .field__label {
    display: none;
  }
}


.field--name-field-boutique-city {
  .field__item {
    font-size: $MainSize +2;
    font-weight: bold;
    color: #111;
    text-transform: uppercase;
  }
}


.field--name-field-boutique-name {
  .field__item {
    color: #111;
    font-size: $MainSize;
  }
}


.field--name-field-boutique-number {
  .field__item {
    color: #111;
    font-size: $MainSize;
  }
}


.field--name-field-boutique-contact {
  .field__item {
    text-align: end;
    a {
      text-decoration: none;
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      white-space: nowrap;
      font-size: $MainSize -2;
      line-height: 1.42857143;
      user-select: none;
      border: solid 1px #111;
      background: #fff;
      color: #111;
      transition: all 300ms;
      border-radius: 0px;
      padding: 0px 5px;
      text-transform: uppercase;
    }
  }
}


.field--name-field-boutique-contact {
  .field__item {
    a:hover {
      background: #111;
      color: #fff;
    }
  }
}


.paragraph .paragraph--type--boutiques .paragraph--view-mode--default {
  border-bottom: solid 1px #d2d2d2;
}


.paragraph {
  border-bottom: solid 1px #d2d2d2;
  padding: 26px 0px;
}


.form-select {
  border-radius: 0px;
  height: 40px;
  border: solid 1px #111;
  appearance: none;
  font-size: $MainSize +2;
  color: #111;
  text-transform: uppercase;
  width: 250px;
}


.form-select:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}


#edit-field-boutique-country-target-id {
  border-radius: 0px;
  height: 40px;
  border: solid 1px #111;
  appearance: none;
  font-size: $MainSize +2;
  color: #111;
  text-transform: uppercase;
  width: 250px;
}


#edit-field-boutique-country-target-id:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}


.form--inline {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 39px;
  height: 40px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px)  {


  .field--name-field-description {
    font-size: $MainSize +2;
    margin: 0 auto;
  }


  .Boutiques-block .field {
    width: 100%;
    text-align: center;
    padding: 5px;
  }


  .field--name-field-boutique-contact .field__item {
    text-align: center;
  }


  .Boutiques-block .paragraph--type--boutiques {
    display: grid;
  }
}
