.view-collections {
  .view-content {
    @extend .row;
  }
}

.view-collections .view-content > * {
  width: 50%;
}

.view-collections .views-row {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  filter: none;
  -webkit-filter: grayscale(0%);
  transition: all 300ms;
}

.view-collections .views-row .img {
  width: 100%;
  cursor: pointer;
}

.view-collections .views-row .img a .img-fluid {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.view-collections .views-row .title {
  position: absolute;
  text-align: center;
  width: 95%;
  z-index: 2;
}

.view-collections .views-row .title a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: solid 1px;
  padding: 19px;
  font-family: $PlayfairDisplay;
  font-size: $TitleSize;
  font-weight: bold;
}

.view-collections .views-row:hover {
  -webkit-filter: grayscale(100%);
  cursor: pointer;
}

.view-collections .views-row:hover .title a {
  color: #111;
  background: #fff;
  border: #fff;
  cursor: pointer;
}

.view-collections .views-row .title a:hover {
  color: #fff;
  background: #111;
  border: #111;
}

.block-field-blocknodelanding-pagetitle {
  padding-top: 80px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.field--name-field-description {
  font-family: $PlayfairDisplay;
  font-size:$TitleSize;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.collections-thumbnail {
  .field--name-field-media-image {
    width: auto;
    height: auto;
  }
}

.field--name-node-title {
  text-align: center;
  padding-bottom: 39px;
  h1 {
    font-family: $PlayfairDisplay;
    font-size:$TitleSize;
    font-weight: bold;
    color: #111;
    text-transform: uppercase;
    line-height: 1;
  }
}
.node-collections .view-content {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.fancybox__caption {
  text-align: center;
}
.collections-images {
  padding: 15px;
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .view-collections .view-content > * {
    width: 50%;
  }

  .view-collections .views-row .title a {
    font-size: 21px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px)  {
  .view-collections .view-content > * {
    width: 50%;
  }

  .view-collections .views-row .title a {
    font-size: 21px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px)  {
  .view-collections .view-content > * {
    width: 100%;
  }

  .view-collections .views-row .title a {
    font-size: 21px;
    display: inline-block;
    padding: 10px;

  }

  .field--name-field-description {
    font-size: 17px;
  }

  .field--name-node-title h1 {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    text-transform: uppercase;
    line-height: 1;
  }


}
