.webform-submission-form {
  width: 65%;
  margin: 0 auto;
  margin-top: 32px;
  padding-left: 15px;
  padding-right: 15px;
  .form-control {
    margin-right: 4%;
    float: left;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 1px #111 solid;
    font-family: Lato;
    font-size: $MainSize + 2;
    padding: 0;
    padding-bottom: 9px;
    margin-bottom: 32px;
    max-width: 100%;
    width: 46%;
  }
}

.webform-button--submit {
  width: 100%;
  height: 40px;
  font-size: $MainSize + 2;
  border: solid 1px #111;
  background: #fff;
  color: #111;
  transition: all 300ms;
  border-radius: 0px;
}

.webform-button--submit:hover {
  background: $black;
  color: $white;
  border-color: $black;
  box-shadow: none;
}

.webform-button--submit:focus {
  background: $black;
  color: $white;
  border-color: $black;
  box-shadow: none;
}

#edit-your-message {
  width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
  .webform-submission-form {
    width: 100%;
    .form-control {
      max-width: 100%;
      width: 100%;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px)  {
  .webform-submission-form {
    width: 100%;
    .form-control {
      max-width: 100%;
      width: 100%;
    }
  }
}
