.path-frontpage {
  .mt-auto {
    background-color: #00000045;
    bottom: 0px;
    width: 100%;
    position: absolute;
    z-index: 9999;
    margin: 0;
    padding: 0px;
    border: none;
    color: $white;
    .row {
      padding-top: 24px;
      .first {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        .logos {
          .sign {
            width: 35px;
            height: 30px;
            margin: 0 5px;
          }
          .mastercard {
            width: 50px;
            height: 30px;
            margin: 0 5px;
          }
        }
        .block-social-media-links {
          display: inline-block;
        }
        .language-switcher-language-url {
          display: inline-block;
          .links {
            font-size: $footer_size;
            list-style: none;
            text-transform: uppercase;
            text-align: justify;
            li {
              .language-link {
                text-decoration: none;
                color: $white;
                font-size: $footer_size;
              }
            }
            .is-active {
              display: none;
            }
          }
        }
        li {
          .social-media-link-icon--facebook:hover {
            background: none;
            position: relative;
            top: -6px;
          }
          .social-media-link-icon--instagram:hover {
            background: none;
            position: relative;
            top: -6px;
          }
          .social-media-link-icon--youtube_channel:hover {
            background: none;
            position: relative;
            top: -6px;
          }
          .social-media-link-icon--facebook {
            color: $white;
            font-size: $icon_size;
          }
          .social-media-link-icon--instagram {
            color: $white;
            font-size: $icon_size;
          }
          .social-media-link-icon--youtube_channel {
            color: $white;
            font-size: $icon_size;
          }
        }
      }
      .social {
        .icons {
          .fontawesome-icons:hover,
          .fontawesome-icons:focus {
            background: none;
            position: relative;
            top: -6px;
          }
        }
      }
      .seconde {
        p {
          text-align: center;
          a {
            font-size: $footer_size;
            text-transform: uppercase;
            text-decoration: none;
            color: $white;
          }
        }
      }
      .third {
        padding-right: 0;
        .field--name-body {
          display: flex;
          justify-content: space-between;
          p {
            padding-top: 5px;
            font-size: $footer_size;
            color: $white;
            text-align: end;
            padding-right: 0;
             a {
              font-size: 12px;
              color: $white;
              text-decoration: none;
             }
          }
        }
      }
    }
  }
}

.mt-auto {
  background-color: #00000045;
  bottom: 6px;
  width: 100%;
  margin: 0;
  padding: 0px;
  border: none;
  .row {
    padding-top: 24px;
    .first {
      display: flex;
      justify-content: space-around;
      padding-left: 0;
        .logos {
          .sign {
            width: 35px;
            height: 30px;
            margin: 0 5px;
          }
          .mastercard {
            width: 50px;
            height: 30px;
            margin: 0 5px;
          }
        }
      .block-social-media-links {
        display: inline-block;
      }
      .language-switcher-language-url {
        display: inline-block;
        .links {
          font-size: $footer_size;
          list-style: none;
          text-transform: uppercase;
          text-align: justify;
          li {
            .language-link {
              text-decoration: none;
              color: $black;
              font-size: $footer_size;
            }
          }
          .is-active {
            display: none;
          }
        }
      }
      li {
        .social-media-link-icon--facebook:hover {
          background: none;
          position: relative;
          top: -6px;
        }
        .social-media-link-icon--instagram:hover {
          background: none;
          position: relative;
          top: -6px;
        }
        .social-media-link-icon--youtube_channel:hover {
          background: none;
          position: relative;
          top: -6px;
        }
        .social-media-link-icon--facebook {
          color: $black;
          font-size: $icon_size;
        }
        .social-media-link-icon--instagram {
          color: $black;
          font-size: $icon_size;
        }
        .social-media-link-icon--youtube_channel {
          color: $black;
          font-size: $icon_size;
        }
      }
    }
    .social {
      .icons {
        .fontawesome-icons:hover,
        .fontawesome-icons:focus {
          background: none;
          position: relative;
          top: -6px;
        }
      }
    }
    .seconde {
      p {
        text-align: center;
        a {
          font-size: $footer_size;
          text-transform: uppercase;
          text-decoration: none;
          color: $black;
        }
      }
    }
    .third {
      padding-right: 0;
      .field--name-body {
        display: flex;
        justify-content: space-between;
        p {
          padding-top: 5px;
          font-size: $footer_size;
          color: $black;
          text-align: end;
          padding-right: 0;
          a {
            font-size: 12px;
            color: $black;
            text-decoration: none;
           }
        }
      }
    }
  }
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: url(../loadings.gif) center no-repeat #fff;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .path-frontpage {
    .mt-auto {
      display: none;
    }
  }

  .mt-auto {
    .first {
      text-align: center;
    }
    .seconde {
      text-align: center;
    }
    .third {
      p {
        text-align: center;
      }
    }
  }
}
