.region {
  padding: 0;
}


/*____________________________________Home Page "FULL PAGE JS" STYLE_________________________________________*/


.homepage-slides {
  .fp-tableCell {
    display: block;
    background-color: $black;
  }
  img {
    width: 100%;
  }
  .group-group.field-group-div {
    position: absolute;
    top: 0;
    width: 100%;
    align-items: center;
    height: 100%;
    color: #fff;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
  }
  .fp-completely .group-group.field-group-div {
    transition: all 300ms;
    opacity: 1;
  }
  .text {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-family: $PlayfairDisplay;
    font-size: 29pt;
    color: $white;
    width: 55%;
  }
  .link {
    width: 100%;
    margin-top: 33px;
    text-align: center;
    a {
      text-decoration: none;
      color: $white;
      height: 100%;
      border: solid 1px;
      padding: 10px 15px;
      font-size: $MainSize + 2;
      font-weight: $bold;
      text-transform: uppercase;
      &:hover {
        color: $black;
        border-color: $white;
        background-color: $white;
        transition: all 500ms;
      }
    }
  }
}


.imagefirst {
  .field--name-field-media-image {
    width: auto;
    height: auto;
    margin-bottom: 0;
  }
}


/*____________________________________RESPONSIVE_________________________________________*/


@media screen and (min-width: 1px) and (max-device-width: 767px) {
  .homepage-slides {
    .fp-completely .group-group.field-group-div {
      top: -70px;
    }
    .text {
      font-size: 20px;
      width: 85%;
    }
    .link {
      width: 100%;
      margin-top: 25px;
      text-align: center;
      a {
        padding: 7px 12px;
        font-size: $MainSize - 4;
      }
    }
  }
}


@media screen and (min-width: 768px) and (max-device-width: 991px) {
  .homepage-slides .fp-completely .group-group.field-group-div {
    top: -8px;
  }
  .homepage-slides {
    .text {
      font-size: 29pt;
      width: 60%;
    }
  }
}


@media screen and (min-width: 992px) and (max-device-width: 1024px) {
  .homepage-slides .fp-completely .group-group.field-group-div {
    top: -50px;
  }
  .text {
    width: 70%;
  }
}


/*____________________________________SCROLL POINT $white_________________________________________*/


#fp-nav ul li a span {
  background: transparent !important;
  background-color: $white;
  border: rgb(246, 246, 246) solid 1px !important;
  padding: 6px;
  margin: -2px 0 0 -2px !important;
  transition: all 300ms;
}
#fp-nav ul li a.active span {
  background-color: $white !important;
  margin: -2px 0 0 -2px;
}


@media print {
  .mt-auto {
    display: none;
  }
  .nav-tabs {
    display: none;
  }
}
.error {
  p {
    img {
      position: fixed;
      width: 100%;
      left: 0px;
      top: 143px;
      height: 879px;
    }
  }
}
