svg:not(:root) {
  overflow: hidden;
  color: white;
}

.path-frontpage {
  .navbar-expand-lg {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: transparent;
    margin-bottom: 0;
    .navbar-toggler:focus {
      box-shadow: none;
    }
  }
  .navbar-brand img {
    width: 251px;
    height: 21px;
  }
  .nav-item {
    padding: 10px 15px;
    padding-right: 0;
    color: $white;
    text-transform: uppercase;
    a {
      letter-spacing: 1px;
    }
    .navbar-nav .nav-link {
      text-decoration: none;
      padding-right: 0;
      letter-spacing: 1px;
      font-size: $MainSize;
    }
    .nav-link:hover,
    .nav-link:focus {
      color: $white;
      opacity: 0.8;
      background: none;
      text-shadow: 2px 1px 13px $white;
    }
  }
}

.navbar-expand-lg {
  width: 100%;
  background: $black;
  padding: 0;
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-brand img {
    width: 251px;
    height: 21px;
  }
  .nav-item {
    padding: 10px 15px;
    padding-right: 0;
    color: $white;
    text-transform: uppercase;
    a {
      letter-spacing: 1px;
    }
    .is-active {
      color: $white;
      opacity: 0.8;
      background: none;
      text-shadow: 2px 1px 13px #fff;
    }
    .navbar-nav .nav-link {
      text-decoration: none;
      padding-right: 0;
      letter-spacing: 1px;
      font-size: $MainSize;
    }
    .nav-link:hover,
    .nav-link:focus {
      color: $white;
      opacity: 0.8;
      text-shadow: 2px 1px 13px $white;
    }
  }
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1024px)  {
  .path-frontpage {
    .navbar-expand-lg {
      background-color: transparent !important;
      position: absolute;
    }
  }

  .nav-item {
    padding-left: 0;
    .nav-link {
      border-bottom: 1px solid rgba(255, 255, 255, 0.07);
      display: block;
      padding: 15px 3%;
      color: $white;
      text-transform: uppercase;
      padding-left: 15px;
      padding-left: 0;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px)  {
  .path-frontpage {
    .navbar-expand-lg {
      background-color: $black !important;
      position: relative;
    }
  }

  .nav-item {
    padding-left: 0;
    .nav-link {
      border-bottom: 1px solid rgba(255, 255, 255, 0.07);
      display: block;
      padding: 15px 3%;
      color: $white;
      text-transform: uppercase;
      padding-left: 15px;
      padding-left: 0;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px)  {
  .path-frontpage {
    .navbar-expand-lg {
      background-color: $black !important;
      position: relative;
    }
    .navbar-brand img {
      width: 186px;
      height: 16px;
    }
    .nav-item {
      padding-left: 0;
      .nav-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.07);
        display: block;
        padding: 15px 3%;
        color: $white;
        text-transform: uppercase;
        padding-left: 15px;
        padding-left: 0;
        padding-bottom: 0%;
      }
    }
  }

  .navbar-expand-lg {
    .navbar-brand img {
      width: 186px;
      height: 16px;
    }
  }
}
