/*______________News Row _____________*/
.News {
  .view-content {
    cursor: pointer;
    @extend .row;
  }
}


.News .view-content > * {
  width: 50%;
}


/*______________News Style _____________*/

.News .view-content {
  .img-fluid{
    width: 100%;
  }
  .date-one {
    font-size: 16px;
    font-weight: bold;
    a {
      color: $black;
      text-decoration: none;
    }
  }


  .text-one {
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    font-size: $MainSize + 4;
    a {
      text-decoration: none;
      color: $black;
    }
  }


  .link-one {
    float: right;
    text-transform: capitalize;
    a {
      text-decoration: none;
      color: $black;
      margin: 10px 0px;
      font-size: $MainSize;
      font-weight: bolder;
    }
  }


  .views-row {
    margin-bottom: 60px;
    &:hover {
      opacity: 0.7;
    }
  }
}


.field--name-field-body-plain {
  width: 90%;
  font-family: $PlayfairDisplay;
  font-size: $TitleSize;
  font-weight: $bold;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}


.field--name-field-title-page {
  width: 90%;
  margin-top: 100px;
  font-size: $TitleSize;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  padding: 0px;
  border: none;
}


.field-content {
  a {
    color: $black;
  }
}


.layout__region {
  .date-one {
    margin-top: 10px;
    font-size: $MainSize;
    font-weight: bolder;
  }
  .textnews {
  font-size:$MainSize + 14;
  }
  .description {
    margin: 15px 0px 10px 0px;
    color: $black;
  }
}


.field--name-node-post-date {
  padding: 10px 0px;
  font-weight: bold;
}
.field--name-bundle-fieldnode {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-size: 18px;
  padding-top: 80px;
}


/*________________Responsive________________*/


@media screen and (min-width: 1px) and (max-device-width: 767px) {
  .News .view-content > * {
    width: 100%;
  }
  .layout__region {
    .textnews {
      text-align: start;
      color: $black;
      font-size: $MainSize + 4;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .News .view-content {
    .text-one {
      a {
        font-size: $MainSize;
      }
      margin-bottom: 7px;
    }
  }
}


@media screen and (min-width: 768px) and (max-device-width: 991px) {
  .News .view-content > * {
    width: 50%;
  }
  .News .view-content {
    .text-one {
      font-size: $MainSize;
      margin-bottom: 14px;
    }
  }
  .layout__region {
    .textnews {
      font-size: $MainSize + 4;
    }
  }
}


@media screen and (min-width: 992px) and (max-device-width: 1024px) {
  .News .view-content > * {
    width: 50%;
  }

  .News .view-content {
    .text-one {
      font-size: 20px;
    }
  }
}


/**_____________________Number page________________________*/


.pagination {
  li {
    a {
      background-color: $white;
      color: $black;
    }
  }
  .page-item.active .page-link {
    background-color: $black;
    border-color: $black;
  }
}
/*______________________Maintenance mode________________________*/
.site-name{
  text-align: center;
  padding-top: 10px;
  a{
color: $black;
text-decoration: none;
text-transform: uppercase;
font-weight: bolder;
padding-top: 10px;
  }
}