// Include bootstrap.
@import "../../../../themes/contrib/bootstrap5/scss/style";
// font family
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&subset=cyrillic,latin-ext');


// Sub theme styling.
@import "variables_drupal";
// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.1/customize/sass/#variable-defaults.
@import "variables_bootstrap";

// Include bootstrap.
@import "../../../../themes/contrib/bootstrap5/scss/style";
body{
    font-family: 'Lato';
}

@import "fullpage.scss";
@import "header.scss";
@import "thebrand.scss";
@import "News.scss";
@import "footer.scss";
@import "collection.scss";
@import "boutiques.scss";
@import "admin.scss";
@import "contact.scss";
