/*___________________________________Bran Page Style ___________________________________*/


.brand {
  margin-top: 80px;
  h2 {
    text-align: center;
    margin-top: 60px;
  }
}


/*_______Link in Text _______*/


.text-formatted {
  p {
    margin: 0 0 10px;
    font-size: $MainSize;
    text-align: start;
  }
  a {
    text-decoration: none;
    strong {
      color: $black;
    }
  }
}


@media screen and (min-width: 768px) and (max-device-width: 991px){


  #block-marceladecala-content{
  .layout--twocol-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    }
    .layout__region.layout__region--second{
      margin: 0 auto;
      margin-bottom: 52px;
    }
  }
}


@media screen and (min-width: 375px) and (max-device-width: 767px){


  #block-marceladecala-content{
  .layout--twocol-section {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap-reverse;
    }
    .align-right{
      margin-bottom: 58px;
      max-width: 100%;
      height: auto;
    }
  }
}


